{% load static %}
<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    

</head>

<!--
    3.3 )
    adding this base.html file eliminates duplicate or redundant code in our project
    as all the files inherit this template when we write " extends "first/base.html " " 
    at the beginning of the other html files in our templates folder 

    3.4 )
    by adding blocks to this base file we can have sections in the html files that 
    inherit the base file where code is overwritten 
-->

<body style="background-color:lavender">
<nav class="navbar navbar-inverse" style="background-color:white;padding:5px;color:purple">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:purple;font-weight: bold">FRINGE</a>
    </div>
    <ul class="nav navbar-nav navbar-right" >

    {% if user.is_authenticated %}
        <li class="nav-item">
            <form class="form-inline float-right" action="#">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <!--<button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>-->
            </form>
        </li>
    {% endif %}
      <li><a href="{% url 'event-home' %}" style="color:purple">Home</a></li>
      <li><a href="{% url 'event-browse' %}" style="color:purple">Browse events</a></li>
      {% if user.is_authenticated %}
          <li class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="#"  style="color:purple">My Account</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'create' %}">Create event</a></li>
              <li><a href="">My Events</a></li>
              <li><a href="">My Bookings</a></li>
              <li><a href="{% url 'profile' %}">My Profile</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
      {% else %}
         <li><a href="{% url 'login' %}" style="color:purple">Login</a></li>
          <li><a href="{% url 'register' %}" style="color:purple">Register</a></li>

      {% endif %}
    </ul>
    
  </div>
</nav>

              
    
        {% block content %} {% endblock %}

        <div class="container-fluid footer-style">
                <footer class="page-footer font-small pt-4" style="text-align: center;color: darkmagenta;font-size: 50px;font-weight: 600">
                   FRINGE - LIVE YOUR BEST LIFE !
                </footer>
            </div>



</body>

</html>

<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    
    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        
      </ul>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown07">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    </div>
  </div>
</nav>
-->

<!--
     <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid">
            <div>
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">Events Around Me</a>
                    
                </div>
                <div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#">Login</a>
                        <a class="nav-item nav-link" href="#">Register</a>
                    </div>
                </div>
            </div>
        </div>
-->