{% extends "event/base.html" %}
{% block style%}
<style>
    div.gallery{
        margin : 5px;
        border:2px solid lightgray;
        width: 235px;
        float:left;
      }
      div.gallery:hover{
        border:2px solid black;

      }
      div.gallery img{
        width:100%;
        height:250px;
      }
 </style>  
{% endblock style %}
{% block content %}
    {% for event in events %}
    <div class="gallery">
      <img id="1"  src='{{ event.model_pic.url }}'>
      <div class="desc">
          {{event.name}}
        </div>
    </div>
    {% endfor %}
{% endblock content %}